 {
	FONT-SIZE: 100%; LINE-HEIGHT: 1.25em; FONT-FAMILY: Tahoma,Verdana,Arial,Helvetica
}
BODY {
	FONT-SIZE: 70%; MARGIN: 0px; BACKGROUND-COLOR: white
}
P {
	
}
A {
	COLOR: blue
}
A:active {
	COLOR: red
}
A:hover {
	COLOR: red
}
A:visited {
	COLOR: purple
}
UL {
	
}
.tpl_top_banner {
	BORDER-BOTTOM: white 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #0a6cce
}
.tpl_body {
	
}
.tpl_content {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.tpl_content_bar {
	BORDER-LEFT: white 1px solid; WIDTH: 100%; HEIGHT: 30px; BACKGROUND-COLOR: #004080
}
.tpl_content_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 5px; WIDTH: 90%; COLOR: white; PADDING-TOP: 5px; FONT-FAMILY: Verdana
}
.subBannerGif {
	HEIGHT: 30px
}
.tpl_footer {
	HEIGHT: 48px; BACKGROUND-COLOR: #0a6cce
}
.tpl_footer_row1 {
	COLOR: white
}
.tpl_footer_row2 {
	PADDING-LEFT: 5px; FONT-SIZE: 10px; MARGIN-BOTTOM: 6px; COLOR: white; BACKGROUND-COLOR: #0a6cce
}
.tpl_left_nav_cell {
	BORDER-RIGHT: #999999 1px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; FONT-FAMILY: inherit; BACKGROUND-COLOR: #f1f1f1
}
.tpl_left_nav_cell A {
	COLOR: blue
}
.tpl_left_nav_cell A:visited {
	COLOR: blue
}
.tpl_left_nav_cell A:active {
	COLOR: blue
}
.tpl_left_nav_cell A:hover {
	COLOR: purple
}
.tpl_search_container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; WIDTH: 180px; PADDING-TOP: 4px; BACKGROUND-COLOR: #0a6cce
}
.tpl_flyout_container {
	PADDING-BOTTOM: 5px; WIDTH: 180px; BORDER-BOTTOM: #999999 1px solid
}
.tpl_feedback_container {
	DISPLAY: none; WIDTH: 180px; TEXT-ALIGN: left
}
.tpl_feedback_container A:visited {
	COLOR: purple
}
.tpl_leftad_container {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 180px; TEXT-ALIGN: center
}
#TopPanel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#idToolbar {
	BACKGROUND-COLOR: #3366cc
}

@media Print    
{
.ftr_copyright_text {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Tahoma,Verdana,Arial,Helvetica
}
.tpl_left_nav_cell {
	DISPLAY: none
}
.tpl_top_banner {
	DISPLAY: none
}
.kbRightNav {
	DISPLAY: none
}
.fhRightNav {
	DISPLAY: none
}
.subBannerGif {
	DISPLAY: none
}
.GetHelpHori {
	DISPLAY: none
}
.GetHelpVert {
	DISPLAY: none
}
#idToolbar {
	DISPLAY: none
}
#idICPBanner {
	DISPLAY: none
}
.noprint {
	DISPLAY: none
}

}
