TABLE.bannerparthead TD {
	FONT-SIZE: 70%
}
DIV.tablediv {
	MARGIN-TOP: -0.4em; FONT-SIZE: 150%; WIDTH: 100%
}
OL DIV.tablediv {
	MARGIN-TOP: 0em
}
UL DIV.tablediv {
	MARGIN-TOP: 0em
}
OL DIV.HxLinkTable {
	MARGIN-TOP: 0em
}
UL DIV.HxLinkTable {
	MARGIN-TOP: 0em
}
TABLE.dtTABLE {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 0em; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 0em; BORDER-BOTTOM-COLOR: #ffffff; WIDTH: 100%; BORDER-TOP-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #ffffff
}
TABLE.dtTABLE TH {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 0px solid; TEXT-ALIGN: left
}
TABLE.dtTABLE TD {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 0px solid; TEXT-ALIGN: left
}
TABLE.dtTABLE TH {
	BACKGROUND: #ffffff; VERTICAL-ALIGN: bottom
}
TABLE.dtTABLE TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
TABLE.SampMgr {
	MARGIN: 0px 0px 0px -22px
}
TABLE.SampMgr TD {
	PADDING-LEFT: 22px
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 25px
}
OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 25px
}
UL LI {
	MARGIN-BOTTOM: 10px
}
